body {
    background-color: rgba(80, 80, 80, 0.664);
}

#TaskBar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 75px;
  }

#WebsiteName {
    color:rgb(255, 255, 255);
    position: absolute;
    top: -0.5%;
    left: 45%;
  }

  /*Stat Calculator Button*/
  #StatCalculatorMenu {
    position: absolute;
    top: 1%;
    left: 17.5%;
  }

  #StatCalculatorMenuText {
    color: white;
    position: absolute;
    top: 1%;
    left: 22%;
  }
  /*Stat Calculator Button*/

  /*Character Button*/
  #CharacterMenu {
    position: absolute;
    top: 1%;
    left: 0%;
  }

  #CharacterMenuText {
    color: white;
    position: absolute;
    top: 1%;
    left: 3.75%;
  }
  /*Character Button*/

/*Item Details Button*/
#ItemDetailsMenu {
    position: absolute;
    top: 1%;
    left: 82.5%;
}

#ItemDetailsMenuText {
    color: white;
    position: absolute;
    top: 1%;
    left: 90%;
}
/*Structures Button*/
#StructuresMenu {
  position: absolute;
  top: 1%;
  left: 65%;
}

#StructuresMenuText {
  color: white;
  position: absolute;
  top: 1%;
  left: 71%;
}
/*Structures Button*/

#introText {
  color: purple;
  position:absolute;
  top: 10%;
  left:25%;

}

#paragraphintro {
  color: white;
  position:absolute;
  top: 15%;
  left:20%;
}

#T1Classes {
  position:absolute;
  top: 100px;
  left:0%;
}
#T1ClassText {
  position:absolute;
  top: 100px;
  left:425px;
}
#T2Classes {
  position:absolute;
  top: 175px;
  left:0%;
}
#T2ClassText {
  position:absolute;
  top: 175px;
  left:425px;
}
#T3Classes {
  position:absolute;
  top: 250px;
  left:0%;
}
#T3ClassText {
  position:absolute;
  top: 250px;
  left:425px;
}
#T4Classes {
  position:absolute;
  top: 325px;
  left:0%;
}
#T4ClassText {
  position:absolute;
  top: 325px;
  left:425px;
}
#T5Classes {
  position:absolute;
  top: 400px;
  left:0%;
}
#T5ClassText {
  position:absolute;
  top: 400px;
  left:425px;
}
#T6Classes {
  position:absolute;
  top: 475px;
  left:0%;
}
#T6ClassText {
  position:absolute;
  top: 475px;
  left:425px;
}
#T7Classes {
  position:absolute;
  top: 550px;
  left:0%;
}
#T7ClassText {
  position:absolute;
  top: 550px;
  left:425px;
}
#T8Classes {
  position:absolute;
  top: 625px;
  left:0%;
}
#T8ClassText {
  position:absolute;
  top: 625px;
  left:475px;
}
#T9Classes {
  position:absolute;
  top: 700px;
  left:0%;
}
#T9ClassText {
  position:absolute;
  top: 700px;
  left:475px;
}
#T10Classes {
  position:absolute;
  top: 775px;
  left:0%;
}
#T10ClassText {
  position:absolute;
  top: 775px;
  left:500px;
}

/* hover stuff */

.Container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.Container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}